{{!-- webformatURL - ссылка на маленькое изображение для списка карточек.
largeImageURL - ссылка на большое изображение.
tags - строка с описанием изображения. Подойдет для атрибута alt.
likes - количество лайков.
views - количество просмотров.
comments - количество комментариев.
downloads - количество загрузок. --}}

{{#each this}}
<div class="photo-card gallery__item" href="{{largeImageURL}}">
  <img class="gallery__image" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" width=340 height=270/> 
  <div class="info">
    <p class="info-item">
      <svg class="icon" width="16" height="16">
        <use xlink:href="#likes"/>
      </svg>
      <b>Likes</b> <span>{{likes}}</span>
    </p>
    <p class="info-item">
      <svg class="icon" width="24" height="24">
        <use xlink:href="#views"/>
      </svg>
      <b>Views</b> <span>{{views}}</span>
    </p>
    <p class="info-item">
      <svg class="icon" width="16" height="16">
        <use xlink:href="#comments"/>
      </svg>
      <b>Comments</b> <span>{{comments}}</span>
    </p>
    <p class="info-item">
      <svg class="icon" width="16" height="16">
        <use xlink:href="#downloads"/>
      </svg>
      <b>Downloads</b><span>{{downloads}}</span>
    </p>
  </div>
</div>
{{/each}}

{{!-- {{#each this}}
<div class="photo-card gallery__item" href="{{original}}">  
  <img class="gallery__image" src="{{preview}}" alt="{{description}}" loading="lazy" width=340 height=270/> 
  <div class="info">
    <p class="info-item">
      <b>Likes</b> <span>{{likes}}</span>
    </p>
    <p class="info-item">
      <b>Views</b> <span>{{views}}</span>
    </p>
    <p class="info-item">
      <b>Comments</b> <span>{{comments}}</span>
    </p>
    <p class="info-item">
      <b>Downloads</b><span>{{downloads}}</span>
    </p>
  </div>
</div>
{{/each}} --}}
